

$grey: #333333;
$green: #39b54a;
$white: #eeeeee;


$layout-breakpoint-xs: 450px;
$layout-breakpoint-s: 600px;
$layout-breakpoint-m: 768px;
$layout-breakpoint-l: 1024px;
$layout-breakpoint-xl: 1200px;

