@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,900&display=swap');

@import '../style/_variables.scss';


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: $logoGrey;
    background-color: $bgGrey;
}