@import '../style/_variables.scss';


#bio {
    width: 100%;
    height: 100vh;
    // margin: 0 auto;
    // max-width: 1000px;
    // display: grid;
    // grid-template-areas: "presentation skills";
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    // background-color: $bgWhite;
    padding: 2rem 1em;
    background-color: $bgGrey;

    img {
        max-width: 100%;
        height: 177px;     
    }

    #presentation {
        // text-align: center;
        // color: $logoGrey;
    }   
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    #bio {
        img {
            height: 288px;     
        }
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #bio {
        img {
            height: 384px;     
        }
    }
    
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
   
}
