@import '../style/_variables.scss';
@import '../style/_extends.scss';


#bio {
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;

    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    .col-12 {
        padding: 0;
    }  

    #div-chapeau {
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        .chapeau {
            position: absolute;
            top: 0;
            left: 0;
        }

        img:first-child {
            filter: drop-shadow(0 7px 10px rgba(0,0,0,.35)); 
        }
    }

    #containerBio {
        margin: 0 auto;
        height: 100vh;
        padding: 2rem 0;
    }

    #intro {
        margin-bottom: 2rem;
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.8rem;
            margin-bottom: 1rem;            
        }
        p {
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    

    #presentation {
        margin: 0 auto;
        margin-bottom: 5rem;
        img {
            margin-bottom: 2rem;
            height: 200px;
        }
        h3 {
            font-size: 2rem;
            font-weight: 700;
        }
        h4 {
            font-size: 1.3rem;
            font-weight: 400;
        }
        h6 {
            font-weight: 400;
        }
    }

    #skills {    
        padding-top: 3rem;
        max-height: 100%;
        // height: 100vh;
        h3, h4, h6 {
            width: 100%;    
            margin-bottom: .5rem;
        }
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 2rem; 
        }
        h4 {
            font-size: 1.1rem;
            font-weight: 400;
        }
        h6 {
            font-style: italic;
            font-weight: 400;
            margin-bottom: 2rem;
        }
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {  
 
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-m) {  
    #bio {
        #presentation{
            img {
                height: 500px;
                margin-bottom: 3rem;
            }
        }
        #div-chapeau {     
            width: 500px;
            height: 500px;          
        }
    
        #intro {
            margin-bottom: 2rem;
            h2 {
                font-size: 2.5rem;
                margin-bottom: 1rem;          
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }
        }    
        #skills {
            h3 {
                font-size: 2.5rem;
                margin-bottom: 1rem;          
            }
            h4 {
                font-size: 1.5rem;
            }
        }
    }
   
}
 
/* Large devices (desktops, 1024px and up) */
@media (min-width: $layout-breakpoint-l) { 
  
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
  
   
}
