@import '../style/_variables.scss';

.modal-content {
    background-color: $bgGrey;
    border: 1px solid $logoGreen; 
    font-family: 'Montserrat', sans-serif;
}

.modal-header, .modal-footer {
    border-color: $logoGreen;
    border: none;
    user-select: none;
}

.modal-title {
    font-weight: 600;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
}

.modal-header button.close {
    color: $logoGreen;
    opacity: 1;
    font-size: 2.5rem;
    text-shadow: none;
}

#sectionContact {
    

    form {

        .form-label {
            font-size: 1.2rem;
            font-weight: 600;
            user-select: none;
        }

        textarea {
            min-height: 100px;
        }

        .btn {
            border: none;
            color: $bgGrey;
            background-color: $logoGrey;
            margin: 0 .5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1rem;         
            border-radius: 5px;
            padding: .5rem .5rem;
        }

        .btnSubmit {
            color: $logoGrey;
            background-color: $logoGreen;
        }

        .btnSubmit:hover {
            color: lighten($color: $logoGrey, $amount: 5);          
        }
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {   
        border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px $logoGreen;
        outline: 0 none;
    }

    .has-error {
        background-color: lighten($color: rgb(156, 28, 28), $amount: 55);
    }

    .invalid {
        color: lighten($color: rgb(156, 28, 28), $amount: 30);
        user-select: none;
    }
    
    #message-submit, #message-submit-error {
        display: none;
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/* Small devices (landscape phones, 600px and up) */
@media (min-width: $layout-breakpoint-s) {  
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-m) {  
   
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: $layout-breakpoint-l) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    
}