@import '../style/_variables.scss';
@import '../style/_extends.scss';


#footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;   
    .row {
        max-width: 100%;
        margin: 0;
    }
    .col-12 {
        padding: 0;
    }  

    .petitMot {
        font-size: .8rem;
    }

    .copyright {
        margin-bottom: .5rem;
    }
    #divReseau {     
        @extend .totalCenter;        
        margin-bottom: .5rem;
        a {
            font-size: 2rem;
            padding: 0 .5rem;
            color: $logoGrey;
        }
    }

    #btnFold {
        margin-bottom: .8rem;
        outline: 0;
    }
   
    span.arrowOpen svg {
        // margin-bottom: 5px;
        color: $logoGreen;
    }    
    
    #foldList {
        display: flex;
        justify-content: center;
        ul {
            padding: .5rem 0;
            text-align: left;
            list-style: none;
            
            li {
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                span {
                    padding: 0 .5rem;
                }
            }
        }
    }    
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {
   
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: $layout-breakpoint-m) {  
  
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: $layout-breakpoint-l) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    
}