@import '../style/_variables.scss';
@import '../style/_extends.scss';


#footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;   
    .row {
        max-width: 100%;
        margin: 0;
    }
    .col-12 {
        padding: 0;
    }  

    .petitMot {
        font-size: .8rem;
    }

    .copyright {
        margin-bottom: .5rem;
    }
    #divReseauFooter {     
        @extend .totalCenter;        
        margin-bottom: .5rem;
        a {
            font-size: 2rem;
            padding: 0 .5rem;
            color: $logoGrey;
            transition: 200ms;
        }
        a:hover {
            color: $logoGreen;
        }
    }

    #btnFold {
        margin-bottom: .8rem;
        outline: 0;
    }
   
    span.arrowOpen svg {
        // margin-bottom: 5px;
        color: $logoGreen;
    }    
    
    #foldList {
        display: flex;
        justify-content: center;
        ul {
            padding: .5rem 0;
            text-align: left;
            list-style: none;
            
            li {
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                span {
                    padding: 0 .5rem;
                }
            }
        }
    }    
}