@import '../style/_variables.scss';

footer { 
    background-color: $bgGrey;
}

#footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;   
    .row {
        max-width: 100%;
        margin: 0;
    }
    .col-12 {
        padding: 0;
    }  

    .petitMot {
        font-size: .8rem;
    }

    .copyright {
        margin-bottom: 0;
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {
   
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: $layout-breakpoint-m) {  
  
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: $layout-breakpoint-l) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    
}