@import '../style/_variables.scss';
@import '../style/_extends.scss';


header {
    // background-color: $bgGrey;
    overflow-x: hidden;
    user-select: none;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    @extend .totalCenter;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
    #divBtn {
        position: absolute;
        top : 5%;
        right: 5%;
        display: flex;
        align-items: center;
        input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: $logoGrey;
            background-color: $logoGreen;
            border: 0;
            border-radius: 5px;
            padding: .5rem .5rem;
        }
        span {
            color: $bgGrey;
            padding: .5rem 1rem;
            margin-right: 1rem;
            font-size: 1rem;
            background-color: $logoGrey;
            border-radius: 10%;
            transition: background-color .4s;

            svg {
                width: 30px;
            }
        }
        span:hover {
            background-color: $logoGreen;
        }
    }

    div img {      
        width: 100%;     
    }
    span p {
        color: $logoGrey;
        font-size: .9em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: right;
        margin: -.3em;
        padding: 0 .5em;
    }
    #divReseau {
        position: absolute;
        bottom: 5%;
        left: 5%;
        a {
            font-size: 2.8rem;
            padding: 0rem .5rem;
            color: $logoGrey;
            transition: color .4s;
        }

        a:hover {
            color: $logoGreen;
        }
       
    }    
}

.slide-in-blurred-top {
	animation: slide-in-blurred-top .8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide {
	animation: slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tilt-in-top-1 {
	animation: tilt-in-top-1 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tilt-in-top-2 {
	animation: tilt-in-top-2 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2020-2-25 11:37:5
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide
 * ----------------------------------------
 */
 @keyframes slide {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
      }
      100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
      }
}

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
 @keyframes tilt-in-top-1 {
    0% {
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }

  /**
 * ----------------------------------------
 * animation tilt-in-top-2
 * ----------------------------------------
 */
@keyframes tilt-in-top-2 {
    0% {
      transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }




/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {  
  header {
    span p {       
        font-size: 1.5em;        
    }
  }
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-m) {  

    header {
        #divBtn {
            input {      
                font-size: 1.2rem; 
                padding: .8rem 1rem;
            }
            span {          
                padding: .55rem 1rem;  
                font-size: 1.5rem;            
            }
        }
        span p {
            font-size: 2em;
        }
        #divReseau {
            bottom: initial;
            top: 3.35%;
            left: 5%;
            a {
                font-size: 3.83rem;
                padding: 0rem .5rem;
            }
        }
    }
}
 
/* Large devices (desktops, 1024px and up) */
@media (min-width: $layout-breakpoint-l) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    header {
        #divBtn {
            right: 10%;
        }

        #divReseau {
            left: 10%;
        }
    }
}
