@import '../style/_variables.scss';

header {
    background-color: $grey;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    display: flex;    
    justify-content: center;
    align-items: center;

    div img {      
        width: 100%;     
    }
    span p {
        font-size: 2em;
        color: $logoGrey;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: right;
        margin: -.3em;
    }
}