
@import "../style/variables.scss";


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 997;
    
    ul{     
        margin: 0;
        padding: 0;
        display: flex;      
        flex-flow: column nowrap;
        width: 100%;       

        li {
            text-align: center;
            background: rgb(57,181,74);
            background: linear-gradient(90deg, rgba(57,181,74,1) 0%, rgba(22,69,28,1) 100%);        
            display: flex;
            flex-direction: column;
            justify-content: center; 
            list-style: none;        
            width: 100%;
            height: 25vh;  
    
            a {
                color: $white;
                text-decoration: none;
                font-size: 2em;
                font-weight: 900;
            }
        }
    }   
    #close {
        position: absolute;
        top: 25px;
        right: 30px;
        color: $white;
        font-size: 2em;
        z-index: 999;      
    }
}

@media (min-width: $layout-breakpoint-l) {
  nav {      
      ul {
        flex-direction: row;
          li {
            background: linear-gradient(180deg, rgba(57,181,74,1) 0%, rgba(22,69,28,1) 100%);
            height: 100vh;
            width: 25%;

            a {
                font-size: 2.5em;
            }
          }            
      }
  }
}

