@import '../style/_variables.scss';


#portfolio {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    // padding: 0;
    // h2 {

    // }

    // h4 {

    // }
    .col-12 {
        padding: 0;
    }
    // .row {
    //     flex-wrap: nowrap;
    //     margin: 0;
    // }

    #carroussel {  
        position: relative;
        // overflow: hidden;
        overflow: hidden;

        
        #imgProjet {
            overflow: hidden;
            flex-wrap: nowrap;
            div {
                transition: transform 200ms ease-in-out;
            }

            img {
                width: 100%;             
                
            }           

            .slide-in {
                transition: ease-in-out;

                animation: slide-in 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }

        #barreInfo {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            // padding: 1em 0;
            
            background-color: rgba($color: $bgGrey, $alpha: .9);
           
           
            #divTitre {

                color: lighten($color: $logoGrey, $amount: 0);
                text-align: left;
                // h2 {
    
                // }
    
                h3 {
                    margin-top: 0;
                }
            }
            
            #divBouton {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                a.button {                
                    text-decoration: none;
                    background-color: $logoGreen;
                    padding: 1rem;
                    text-align: center;
                    color: $logoGrey;

        
                    .white {
                        margin-left: .5em;
                    }
                }
            }
           
            // #divNavigation {
                
    
            // }
        }

        
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-20 18:49:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in
 * ----------------------------------------
 */
 @keyframes slide-in {
    0% {
    //   transform: translateZ(-1400px) translateX(1000px);
      opacity: 0;
    }
    100% {
    //   transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
 
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}
