@import '../style/_variables.scss';
@import '../style/_extends.scss';


#portfolio {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;  
    #divTitre {
        h2{
            font-weight: 700;
            font-size: 1.8rem;
            font-family: 'Montserrat', sans-serif;
        }

        h4 {
            font-size: 1.1rem;
            font-weight: 400;
        }
        p {
            font-style: italic;
        }
    }  

    .row {
        max-width: 100%;
        margin: 0;
    }
    .col-12 {
        padding: 0;
    }  

    #carroussel {  
        margin-top: 2rem;
        position: relative;
        box-shadow: 0px 7px 28px -10px rgba(0,0,0,0.75);


        #divNavNext {         
            left: 50%;
            justify-content: flex-end;
        }

        .btnNavSlider:hover {
            opacity: .5;        
        }

        .btnNavSlider {
            transition: opacity 800s;
            padding: 0 1rem;
            opacity: .1;
            position: absolute;
            z-index: 5;
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            font-size: 3rem;
            color: $logoGreen;

            .fleche {
                margin-top: 15%;
                font-size: 2rem;
            }
        }
        
        #imgProjet {
            position: relative;
            overflow: hidden;
            flex-wrap: nowrap;
            max-width: 100%;
            user-select: none;
            
            
            div {
                transition: transform 400ms ease-in-out;
            }

            img {
                max-width: 100%;                
            }           

            .slide-in {
                transition: ease-in-out;
                animation: slide-in 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }

        #barreInfo {
            width: 100%;
            padding: .5rem .5rem;      
            background-color: rgba($color: lighten($color: $bgGrey, $amount: 10), $alpha: 1);           
            z-index: 10;
           
            #divTitreInfo {
                // color: lighten($color: $logoGrey, $amount: 10);
                text-align: left;
                padding: 0;
                padding-right: 7px;

                h2 {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }
             
                p {
                    font-style: normal;
                    font-size: .8rem;
                    margin: 0;
                }
            }
            
            #divBouton {
                padding: 0;
                padding-left: 7px;
                // padding-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a.button {    
                    @extend .totalCenter;
                    // margin-left: auto;
                    border-radius: 5px;
                    background-color: $logoGreen;
                    padding: .6rem;
                    color: $logoGrey;                    
                    width: 40px;

                    p {
                        margin: 0;
                    }
        
                    .marg {
                        margin-left: 0em;
                    }
                }
            }
        }        
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-20 18:49:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in
 * ----------------------------------------
 */
 @keyframes slide-in {
    0% {
    //   transform: translateZ(-1400px) translateX(1000px);
      opacity: 0;
    }
    100% {
    //   transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
 
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {
    #portfolio {
        #carroussel {
            #barreInfo { 
                position: absolute;
                top: initial;
                bottom: 0;
                left: 0;
                right: 0;  
                #divBouton { 
                    a.button {
                        width: 100px; 
                        .marg {
                            margin-left: .5em;
                        }           
                    }
                }
            }
        }
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: $layout-breakpoint-m) {  
    #portfolio {        
        #divTitre {
            h2{
                font-size: 2.5rem;
                margin-bottom: 1rem;        
            }

            h4 {
                font-size: 1.5rem;
            }
        }

        #carroussel {
            .btnNavSlider {
                padding: 0 2rem;

                .fleche {
                    margin-top: 0%;
                    margin-bottom: 5%;
                    font-size: 3rem;
                }
            }
            #barreInfo {                     
                padding: .5rem 1rem;
                #divTitreInfo {    
                    h2 {
                        font-size: 2rem;

                    }                 
                    p {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }                
                #divBouton {
                    a.button {
                        padding: 1rem;
                    }
                }
            }            
        }    
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: $layout-breakpoint-l) { 
    #portfolio {
        #carroussel {
            .btnNavSlider {

                .fleche {
                    margin-bottom: 0%;
                    font-size: 5rem;
                }
            }
        }
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    .container-fluid {
        max-width: 1140px;
    }
}
