@import '../style/_variables.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


#PageProjet {
    position: relative;

    .divImgPrin {
        display: flex;
        align-items: flex-start;
        box-shadow: 0px 7px 28px -10px rgba(0,0,0,0.75);
        img, video {
            user-select: none;
            outline: none;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            width: 100%;
        }
    }

    .divGalerie {
        margin-top: 4rem;
        .image-gallery-icon:hover {
            color: $logoGreen;
        }
        .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
            border: 4px solid $logoGreen;
        }
    }

    .btnBack {     
        user-select: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: $logoGrey;
        background-color: $logoGreen;
        border: 0;
        border-radius: 5px;
        padding: .5rem .5rem;  
        margin: .5rem; 
        cursor: pointer;
        text-decoration: none;
    }

    .btnBack:hover {
        color: lighten($color: $logoGrey, $amount: 5);
    }

    .btnBack.top {
        position: absolute;
        top : 1%;
        left: 2%;
        font-size: .8rem;
        opacity: .5;
        transition: 200ms;
    }

    .btnBack.top:hover {
        opacity: 1;

    }

    #detailProjet {
        padding: 0 1rem;
        margin-top: 2rem;

        h3 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1.5rem;

        }
        h4 {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;

        }
    }

    #navProjet {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        .btnBack.bottom {
            margin-right: 3rem;
        }

        .btnBack.nav {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1.5rem;
        }

        
    }

    .maxWidth {
        margin: 0 auto;
    }
}



/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: $layout-breakpoint-m) {  
  
    #PageProjet {
        .btnBack {                 
            font-size: 1.2rem; 
            padding: .8rem 1rem;
        }
        .btnBack.top {
            position: absolute;
            top : 5%;
            left: 5%;
            font-size: 1.2rem;
        }
    }
  }
   
  /* Large devices (desktops, 1024px and up) */
  @media (min-width: $layout-breakpoint-l) { 
   
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: $layout-breakpoint-xl) {
     
  }
  