@import '../style/_variables.scss';
@import '../style/_extends.scss';



//Relatif au skill
$pourcentageOccupationXs: 30%;

// Relatif au cercle contenant le logo
$pourcentageLogo: 70%;

$grosseurCercleXs: 70px;
$grosseurCercleHoverXs: calc(#{$grosseurCercleXs} + 20px);

$grosseurCercleM: 100px;
$grosseurCercleHoverM: calc(#{$grosseurCercleM} + 20px);

$grosseurCercleXl: 120px;
$grosseurCercleHoverXl: calc(#{$grosseurCercleXl} + 20px);




//Relafit au cercle pourcentage
$grosseurPourcentXs: calc(#{$grosseurCercleXs} + 10px);
$grosseurPourcentHoverXs: calc(#{$grosseurCercleHoverXs} + 25px);

$grosseurPourcentM: calc(#{$grosseurCercleM} + 10px);
$grosseurPourcentHoverM: calc(#{$grosseurCercleHoverM} + 25px);

$grosseurPourcentXl: calc(#{$grosseurCercleXl} + 10px);
$grosseurPourcentHoverXl: calc(#{$grosseurCercleHoverXl} + 25px);



#skill-tree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;

    #skill-lang, #skill-util, #skill-logiciel {
        display: flex;      
        flex: 1 0 100%;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    .skill {
        display: flex;
        flex-direction: column;
        flex: 0 1 $pourcentageOccupationXs;
        padding: 0;       
        // border: 1px solid white;
        // margin-bottom: 1rem;

        .skill-container {
            @extend .totalCenter;
            // height: $grosseurPourcentHoverXs;
            .skill-pourcent {
                box-shadow: 0px 7px 28px -10px rgba(0,0,0,0.75);
                @extend .totalCenter;
                width: $grosseurPourcentXs;
                height: $grosseurPourcentXs;
                background-color: $logoGreen;
                border-radius: 50%;
                background-color:  darken($logoGreen, 8);
                transition: ease-in-out 400ms;

                .skill-logo {
                    @extend .totalCenter;
                    width: $grosseurCercleXs;
                    height: $grosseurCercleXs;
                    background-color: $logoGreen;
                    border-radius: 50%;
                    transition: ease-in-out 400ms;

                    img {
                        height: $pourcentageLogo;
                        width: $pourcentageLogo;
                    }                   
                }
            }
        }

        .skill-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: .9rem;
            // margin-top: 1rem;
            opacity: 0;
            transition: ease-in-out 400ms;
        }
    }


    .skill:hover{    
        margin-bottom: 1rem;
        .skill-container {
            .skill-pourcent {
                width: $grosseurPourcentHoverXs;
                height: $grosseurPourcentHoverXs;
                .skill-logo {               
                    width: $grosseurCercleHoverXs;
                    height: $grosseurCercleHoverXs;                   
                }
            }
        }
        .skill-title {
            opacity: 1;
            margin-top: 1rem;
        }
    }
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: $layout-breakpoint-s) {  
    
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: $layout-breakpoint-m) {  
    #skill-tree {
        .skill {       
            flex: 0 1 calc(#{$pourcentageOccupationXs} - 12%);
            margin-bottom: 1rem;

            .skill-container {    
                height: $grosseurPourcentHoverM;
                .skill-pourcent {
                    width: $grosseurPourcentM;
                    height: $grosseurPourcentM;
                    .skill-logo {               
                        width: $grosseurCercleM;
                        height: $grosseurCercleM;
                    }
                }
            }
            .skill-title {
                font-size: 1.2rem;
                margin-top: 1rem;
            }
        }
        .skill:hover {       
            .skill-container {  
                .skill-pourcent {
                    width: $grosseurPourcentHoverM;
                    height: $grosseurPourcentHoverM;
                    .skill-logo {               
                        width: $grosseurCercleHoverM;
                        height: $grosseurCercleHoverM;                   
                    }
                }   
            }    
        }
    }
}
 
/* Large devices (desktops, 1024px and up) */
@media (min-width: $layout-breakpoint-l) { 
    #skill-tree {
        .skill {       
            flex: 0 1 calc(#{$pourcentageOccupationXs} - 10%);
            .skill-container {    
                height: $grosseurPourcentHoverXl;
                .skill-pourcent {
                    width: $grosseurPourcentXl;
                    height: $grosseurPourcentXl;
                    .skill-logo {               
                        width: $grosseurCercleXl;
                        height: $grosseurCercleXl;
                    }
                }
            }
            .skill-title {
                font-size: 1.5rem;
            }
        }
        .skill:hover {       
            .skill-container {  
                .skill-pourcent {
                    width: $grosseurPourcentHoverXl;
                    height: $grosseurPourcentHoverXl;
                    .skill-logo {               
                        width: $grosseurCercleHoverXl;
                        height: $grosseurCercleHoverXl;                   
                    }
                }   
            }    
        }
    }   
    
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $layout-breakpoint-xl) {
    
}